<!--
* File: verzio.component.html
* Author: Nagy Imre
* Copyright: 2025, Nagy Imre
* Group: Szoft II-E
* Date: 2025-11-23
* Github: https://github.com/nagy-imre
* Licenc: MIT
-->

<table>
  <thead>
    <tr>
      <th>Verzió</th>
      <th>Dátum</th>
      <th>Csapat</th>
      <th>Hibák</th>
      <th>Új funkciók</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of szoftverVerziok">
      <td>{{ v.verzio }}</td>
      <td>{{ v.datum }}</td>
      <td>{{ v.csapat }}</td>
      <td>{{ v.hibak }}</td>
      <td>{{ v.ujFunkciok }}</td>
      <span *ngIf="v.hibak > v.ujFunkciok">⚠️</span>
    </tr>
  </tbody>
</table>

<p> Összes hiba: {{ osszesHiba }}</p>
<div class="footer-name">
    Készítette: Nagy Imre
</div>